extends ../base/layout

block variables
  - const title = "О регионе — АКТОБЕ"
  - const wrapperMods = "wrapper--inner"
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentPage = "region"

block main
  main
  .inner-page.inner-page--middle-margin
    .container.container--widest
      +breadcrumbs(regionCrumbs).inner-page__breadcrumbs.inner-page__breadcrumbs--small-margin
      h1.inner-page__title.inner-page__title--blue!="О регионе"
      +cards-grid(cardInform)
