.zoom {
  position: relative;

  overflow: hidden;

  user-select: none;
}

.zoom__item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: transform $trans--300;

  img {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
}
