include ../data/promo-background
include ../data/promo-factoids
include ../data/advantages
include ../data/investor
include ../data/proposals
include ../data/akim
include ../data/news
include ../data/industries
include ../data/footer-links
include ../data/socials
include ../data/dropdown
include ../data/header-links
include ../data/region-data
include ../data/general-review-data
include ../data/industrial-zone-data
include ../data/project
include ../data/news-page
include ../data/news-detail-data
include ../data/offers-data
include ../data/priority-industries-data
include ../data/map-form-base
include ../data/map-form-objects
include ../data/map-balloons
include ../data/contacts-data
include ../data/office
include ../data/persons
include ../data/emergency
include ../data/akimats
include ../data/management
include ../data/pagination-pages-data
include ../data/history-data
include ../data/history-details-data
include ../data/government-support-data
include ../data/permit-procedures-data
include ../data/regulatory-framework
include ../data/support-tools
include ../data/business-registration
include ../data/region-advantages
