include ../mixins/basic/sprite
include ../mixins/basic/svg
include ../mixins/basic/icon
include ../mixins/basic/img
include ../mixins/basic/picture
include ../mixins/components/slider-background
include ../mixins/components/factoids
include ../mixins/components/slider-frame
include ../mixins/components/icon-arrow
include ../mixins/components/link
include ../mixins/components/slider-cards
include ../mixins/components/socials
include ../mixins/components/logo
include ../mixins/components/card-news
include ../mixins/components/dropdown
include ../mixins/components/pagination-slider
include ../mixins/components/breadcrumbs
include ../mixins/components/card-project
include ../mixins/components/cards-grid
include ../mixins/components/text-type
include ../mixins/components/slider-photos
include ../mixins/components/table
include ../mixins/components/map-accordion
include ../mixins/components/map-balloon
include ../mixins/components/label
include ../mixins/components/side-nav
include ../mixins/components/contact-person
include ../mixins/components/form-field
include ../mixins/components/pagination-pages
include ../mixins/components/inner-intro
include ../mixins/components/select
include ../mixins/components/custom-select
include ../mixins/components/card-history
include ../mixins/modals/modal-feedback
include ../mixins/modals/modal-success
