mixin modal(mods, condition)
  .modal.modal--preload(class=mods)&attributes(attributes)
    .modal__wrapper
      .modal__overlay(data-close-modal)
      .modal__content(class= condition ? `${condition}` : null)
        if block
          block
        button.modal__close-btn(type="button", aria-label="Закрыть попап", data-close-modal)
