mixin modal-feedback()
  .feedback-form
    span.feedback-form__thanks!="Спасибо!"
    span.feedback-form__sent!="Ваша заявка отправлена"
    button(class="feedback-form__button" type="button" data-close-modal)!="Вернуться"
