$color-default-black: #000000;
$color-default-black-2: rgba(0, 0, 0, 0.1);
$color-default-white: #ffffff;
$color-default-white-2: rgba(255, 255, 255, 0.4);
$color-transparent: rgba(255, 255, 255, 0);
$color-transparent-85: rgba(255, 255, 255, 0.85);
$color-blue: #2c39f2;
$color-jungle-mist: #abc2c1;
$color-jungle-mist-2: #a0c3c3;
$color-heather: #acb9bf;
$color-heather-2: #a2bcc8;
$color-midnight-express: #202537;
$color-midnight-express-2: #0d1f43;
$color-midnight-express-3: #252b42;
$color-solitude: #f3f4f6;
$color-solitude-1: #e0e3e6;
$color-solitude-2: #e4e8ee;
$color-solitude-3: #e9edf4;
$color-spindle: #afbbcc;
$color-steel-blue: #4777a7;
$color-bali-hai: #849fb5;
$color-wedgewood: #47657d;
$color-manatee: #8d91a0;
$color-manatee-2: #898f9b;
$color-zumthor: #c2dada;
$color-zumthor-2: #c8d9dd;
$color-zumthor-3: #ccd8db;
$color-pattens-blue: #c9dbe7;
$color-pattens-blue-2: #e4ebee;
$color-storm-grey: #777a86;
$color-rhino: #3e4a55;
$color-rhino-2: #354556;
$color-rhino-3: rgba(53, 69, 86, 0.8);
$color-arsenic: #394854;
$color-whisper: rgba(229, 229, 229, 0.5);
$color-whisper-2: #e5e5e5;
$color-hawkes-blue: #d9dbe1;
$color-lynch: rgba(106, 122, 135, 0.6);
$color-bright-grey: #5b5e68;
$color-green-vogue: #203e46;
$color-rob-roy: #dea54f;
$color-alice-blue: #f3f5f6;
$color-blue-zodiac: #424653;
$color-charcoal: #434343;
$color-charcoal-1: #4a4a4a;
$color-endeavour: #37628d;
$color-echo-blue: #a9b0c0;
$color-catalina-blue: #283a61;
$color-link-water: #cad1df;
$color-link-water-2: rgba(202, 209, 223, 0.5);
$color-kabul: #605c59;
$color-bermuda-grey: #78909c;
$color-bermuda-grey-2: rgba(120, 144, 156, 0.5);
$color-gainsboro: #d9d9d9;
$color-snow: #fafafa;
$color-bright-grey: #545d69;
$color-shuttle-grey: #58606e;
$color-gothic: #6e858f;
$color-azure: #edfbff;
$color-azure2: #eaf0f1;
$color-botticelli: #88b2be;
$color-solitude: #e5e7eb;
$color-link-water: #c7d4e1;
$color-link-water-2: #d4d7db;
$color-light-steel-blue: #bbcde1;
$color-bunting: #2e354c;
$color-ebony: #272f3e;
$color-slate-grey: #6e8196;
$color-slate-grey-2: rgba(110, 129, 150, 0.4);
$color-dark-pink: #e8597b;
$color-french-pass: #aecfda;
$white-to-grey: linear-gradient(180deg, #fbfbfb 0%, #dee6e9 100%);
$font-family--opensans: "Open Sans", "Arial", sans-serif;
$trans--100: 0.1s ease;
$trans--300: 0.3s ease;
$trans--600: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$vp--768: 768px;
$vp--1024: 1024px;
$vp--1280: 1280px;
$vp--1440: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
