-
  var akim = [
    {
      title: "Уважаемые господа!",
      text: [
        {
          sentence: "Актюбинская область — как экономически и культурно значимый регион, крупный транспортно-транзитный узел, территория, имеющая значительные запасы природных ресурсов, находится в выгодном положении.",
        },
        {
          sentence: "Актюбинская область создает все условия для того, чтобы инвестиционный климат региона способствовал привлечению значительных денежных средств.",
        },
      ]
    },
    {
      text: [
        {
          sentence: "Стимулирование инвестиций – одна из ключевых задач экономического развития региона. Используя эти возможности, область стремится повысить свою конкурентоспособность, привлекая инвестиции в развитие производств с высокой добавленной стоимостью.",
        },
        {
          sentence: "Перед нами стоит задача, используя свои конкурентные преимущества, превратить их в экономические и социальные успехи. Мы открыты для деловых партнеров, желающих открыть свой бизнес в нашем регионе. Актобе — территория для инвестиций.",
        },
      ]
    },
    {
      text: [
        {
          sentence: "Стимулирование инвестиций – одна из ключевых задач экономического развития региона. Используя эти возможности, область стремится повысить свою конкурентоспособность, привлекая инвестиции в развитие производств с высокой добавленной стоимостью.",
        },
        {
          sentence: "Перед нами стоит задача, используя свои конкурентные преимущества, превратить их в экономические и социальные успехи. Мы открыты для деловых партнеров, желающих открыть свой бизнес в нашем регионе. Актобе — территория для инвестиций.",
        },
      ]
    },
  ]
  var akimFio = "Аким Актюбинской области: <br> Уразалин Ондасын Сеилович"
