-
  var akimats = [
    {
      district: "Мугалжарского",
      href: "#",
    },
    {
      district: "Уилского",
      href: "#",
    },
    {
      district: "Шалкарского",
      href: "#",
    },
    {
      district: "Хромтауского",
      href: "#",
    },
    {
      district: "Кобдинского",
      href: "#",
    },
    {
      district: "Темирского",
      href: "#",
    },
    {
      district: "Иргизкого",
      href: "#",
    },
    {
      district: "Мартукского",
      href: "#",
    },
    {
      district: "Айтекебийского",
      href: "#",
    },
    {
      district: "Каргалинского",
      href: "#",
    },
    {
      district: "Алгинского",
      href: "#",
    },
    {
      district: "Байганинского",
      href: "#",
    },
  ]
