-
  var formActivityCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "Инвестору",
      href: "#",
    },
    {
      crumb: "Регистрация бизнеса",
      href: "business-registration.html",
    },
  ]

  var formActivityNav = [
    {
      name: "Индивидуальный предприниматель",
      href: "individual-entrepreneur",
      shortName: "ИП",
    },
    {
      name: "Юридическое лицо",
      href: "legal-entity",
      shortName: "Юридическое лицо",
    },
  ]

  var businessContent = {
    mainTitle1: "Индивидуальный предприниматель",
    contentSubtitle1: "Физическим лицам необходимо уведомить налоговый орган о начале предпринимательской деятельности, выбрав один из следующих способов:",
    mainTitle2: "Юридическое лицо",
    contentSubtitle2: "ТОО – Товарищество с ограниченной ответственностью",
    contentSubtitle3: "АО – Акционерное общество",
    contentSubtitle4: "Регистрацию ЮЛ можно пройти, выбрав один из следующих способов:",
    link1: "Приказ Министра юстиции Республики Казахстан «Об утверждении стандартов государственных услуг по вопросам регистрации юридических лиц, филиалов и представительств».",
    link2: "Официальный сайт НАО «Государственной корпорации «Правительства для граждан».",
    span: "*МРП (месячный расчетный показатель) &ndash; 3&nbsp;063 тенге (2022 г.)",
  }

  var entrepreneurContent = {
    list: [
      {
        text: "<b>Подав заявку</b> посредством веб&#8209;портала «Электронного лицензирования».",
        img: {
          path: "content",
          image: "business-registration-slide1",
          format: "png",
          width: "822",
          height: "334",
          altText: "Подать заявку - Регистрация - Уведомление",
        }
      },
      {
        text: "<b>Обратившись в РГУ.</b>",
        img: {
          path: "content",
          image: "business-registration-slide2",
          format: "png",
          width: "822",
          height: "341",
          altText: "Обратившись в РГУ",
        }
      },
    ],
  }

  var webPortal = {
    text: "С перечнем документов, необходимых для государственной регистрации ЮЛ можно ознакомиться на",
    link: "веб-портале «Электронного Правительства»",
  }
