-
  var contactsCrumbs = [
    {
      crumb: "Главная",
      href: "./main.html",
    },
    {
      crumb: "Контакты",
      href: "./contacts.html",
    },
  ]

  var contactsNav = [
    {
      name: "Адрес",
      href: "address",
    },
    {
      name: "Канцелярия",
      href: "office",
    },
    {
      name: "Данные ответственных лиц",
      href: "responsible",
    },
    {
      name: "Экстренные службы",
      href: "emergency",
    },
    {
      name: "Акимат города Актобе",
      href: "akimat",
    },
    {
      name: "Акиматы районов",
      href: "akimats",
    },
    {
      name: "Управления",
      href: "management",
    },
    {
      name: "Форма обратной связи",
      href: "feedback",
    },
  ]

  var contactsSelect = {
      activeItem: "Адрес",
      selectItems: [
        {
          name: "Адрес",
          id: "address",
        },
        {
          name: "Канцелярия",
          id: "office",
        },
        {
          name: "Данные ответственных лиц",
          id: "responsible",
        },
        {
          name: "Экстренные службы",
          id: "emergency",
        },
        {
          name: "Акимат города Актобе",
          id: "akimat",
        },
        {
          name: "Акиматы районов",
          id: "akimats",
        },
        {
          name: "Управления",
          id: "management",
        },
        {
          name: "Форма обратной связи",
          id: "feedback",
        },
      ]
    }
