-
  var emergency = [
    {
      name: "Экстренная оперативная служба",
      tel: "112",
    },
    {
      name: "Полиция",
      tel: "102",
    },
    {
      name: "Скорая медицинская помощь.",
      tel: "103",
    },
    {
      name: "Пожарная служба.",
      tel: "108",
    },
    {
      name: "Аварийная газовая служба:",
      tel: "104",
    },
  ]
