-
  var footerLinks = {
    region: {
      title: "О регионе",
      links: [
        {
          link: "Общий обзор",
          href: "#",
        },
        {
          link: "Преимущества",
          href: "./advantages.html",
        },
        {
          link: "Истории успеха",
          href: "#",
        },
        {
          link: "О регионе",
          href: "#",
        },
      ],
    },
    investor: {
      title: "Инвестору",
      links: [
        {
          link: "Регистрация бизнеса",
          href: "business-registration.html",
        },
        {
          link: "Разрешительные процедуры",
          href: "#",
        },
        {
          link: "Нормативная база",
          href: "regulatory-framework.html",
        },
        {
          link: "Государственная поддержка",
          href: "#",
        },
        {
          link: "Индустриальная зона Актобе",
          href: "#",
        },
        {
          link: "Инстументы поддержки бизнеса",
          href: "support-tools.html",
        },
      ],
    },
    proposals: {
      title: "Инвестиционные предложения",
      links: [
        {
          link: "Приоритетные отрасли",
          href: "./priority-industries.html",
        },
        {
          link: "Реализуемые проекты",
          href: "#",
        },
        {
          link: "Проекты, требуещие инвестиций",
          href: "#",
        },
        {
          link: "Простаивающие проекты",
          href: "#",
        },
        {
          link: "Все инвестиционные предложения",
          href: "./offers.html",
        },
      ],
    },
    links: [
      {
        link: "Интерактивная карта",
        href: "./map.html",
      },
      {
        link: "Новости",
        href: "./news-page.html",
      },
      {
        link: "Контакты",
        href: "./contacts.html",
      },
    ],
  }
