-
  var generalReviewCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "О регионе",
      href: "region.html",
    },
    {
      crumb: "Общий обзор",
      href: "#",
    },
  ]
-
  var generalReviewNav = [
    {
      name: "Общий обзор",
      href: "review",
    },
    {
      name: "Административно-территориальное деление",
      href: "division",
    },
    {
      name: "Прибытие в Актюбинскую область",
      href: "arrival",
    },
    {
      name: "Безвизовый режим въезда",
      href: "entry",
    },
  ]
-
  var reviewTextDivision = [
    {
      excretion: true,
      text: "на западе — с Западно-Казахстанской, Атырауской и Мангистауской областями;",
    },
    {
      excretion: true,
      text: "на востоке — с Костанайской, Карагандинской и Кзылординской областями;",
    },
    {
      excretion: true,
      text: "на севере — с Оренбургской областью Российской Федерации;",
    },
    {
      excretion: true,
      text: "на юге — с Каракалпакской автономной областью Республики Узбекистан.",
    },
    {
      excretion: true,
      text: "Областной центр — г. Актобе, расстояние до г. Нур-Султан - 1 678 км.",
    },
  ]
-
  var reviewTextArrival = [
    {
      excretion: false,
      text: "Иностранным гражданам и&nbsp;лицам без гражданства для въезда на&nbsp;территорию Республики Казахстан необходима виза, если иной порядок не&nbsp;установлен международным договором Республики Казахстан.",
    },
    {
      excretion: false,
      text: "Для получения визы требуется наличие приглашения, согласованного с&nbsp;заинтересованными государственными органами, если иное не&nbsp;предусмотрено законодательством Республики Казахстан.",
    },
    {
      excretion: false,
      text: "Приглашение на&nbsp;въезд по&nbsp;частным делам подается не&nbsp;ранее, чем за&nbsp;1&nbsp;год и&nbsp;не&nbsp;позднее, чем за&nbsp;5&nbsp;рабочих дней до&nbsp;предполагаемой даты въезда получателя виз в&nbsp;Республику Казахстан.",
    },
    {
      excretion: false,
      text: "Ходатайство или вербальная нота подается не&nbsp;ранее, чем за&nbsp;90&nbsp;календарных дней и&nbsp;не&nbsp;позднее, чем за&nbsp;5&nbsp;рабочих дней до&nbsp;предполагаемой даты въезда получателя виз в&nbsp;Республику Казахстан.",
    },
    {
      excretion: false,
      text: "Срок рассмотрения приглашения составляет не&nbsp;более 3&nbsp;рабочих дней при оказании услуги в&nbsp;электронном виде и&nbsp;не&nbsp;более 5&nbsp;рабочих дней&nbsp;&mdash; в&nbsp;бумажном виде&nbsp;&mdash; со&nbsp;дня подачи обращения.",
    },
    {
      excretion: false,
      text: "Приглашающая сторона для оформления приглашения представляет в&nbsp;Министерство иностранных дел Республики Казахстан (МИД&nbsp;РК) вербальную ноту с&nbsp;приложением таблицы по&nbsp;форме.",
    },
  ]
