-
  var governmentSupportCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "Инвестору",
      href: "#",
    },
    {
      crumb: "Государственная поддержка",
      href: "government-support.html",
    },
  ]

  var governmentSupportNav = [
    {
      name: "Инвестиционные преференции",
      href: "investment",
    },
    {
      name: "Условия предоставления инвестиционных преференций",
      href: "conditions",
    },
    {
      name: "Требования к заявке на предоставление инвестиционных преференций",
      href: "requirements",
    },
  ]

  var governmentSupportSelect = {
      activeItem: "Инвестиционные преференции",
      selectItems: [
        {
          name: "Инвестиционные преференции",
          id: "investment",
        },
        {
          name: "Условия предоставления инвестиционных преференций",
          id: "conditions",
        },
        {
          name: "Требования к заявке на предоставление инвестиционных преференций",
          id: "requirements",
        },
      ]
    }

  var investmentContent = {
    mainTitle: "Инвестиционные преференции",
    contentSubtitle: "По инвестиционному проекту <br> (в т.ч. инвестиционному приоритетному проекту) предоставляются:",
    contentSubtitle2: "По инвестиционному приоритетному проекту дополнительно предоставляются (кроме НДС на импорт сырья и материалов):",
    contentSubtitle3: "По специальному инвестиционному проекту предоставляются:",
    link: "Предпринимательский кодекс РК",
  }

  var conditionsContent = {
    mainTitle: "Условия предоставления инвестиционных преференций",
    contentTitle: "Инвестиционные преференции для инвестиционного приоритетного проекта предоставляются при соблюдении следующих условий:",
    text: "Инвестиционные преференции предоставляются при реализации юридическим лицом инвестиционного проекта по видам деятельности, включенным в перечень приоритетных видов деятельности, утвержденный Правительством Республики Казахстан.",
    para: [
      {
        title: "Получателем",
        text: "является юридическое лицо Республики Казахстан;",
      },
      {
        title: "Юридическое лицо осуществляет инвестиции",
        text: "в размере не менее двухмиллионнократного (по созданию новых производств) или пятимиллионнократного (по расширению и (или) обновлению действующих производств) размера месячного расчетного показателя, установленного законом о республиканском бюджете и действующего на дату подачи заявки на предоставление инвестиционных преференций;",
      },
      {
        title: "Для реализации инвестиционного приоритетного проекта",
        text: "в качестве источников либо гарантий финансирования не привлекаются бюджетные средства, за исключением денег, выделяемых на условиях возвратности, срочности и платности, включая лизинговое финансирование и кредитование через финансовые институты;",
      },
      {
        isList: true,
        title: "Юридическое лицо не является:",
        list: [
          "Автономной организацией образования в соответствии с налоговым законодательством Республики Казахстан и законодательством Республики Казахстан об образовании;",
          "Организацией, осуществляющей деятельность на территории специальной экономической зоны в соответствии с налоговым законодательством Республики Казахстан и законодательством Республики Казахстан о специальных экономических зонах;",
        ],
      },
      {
        title: "Доля государства и (или) субъекта квазигосударственного сектора",
        text: "в качестве учредителя (или) участников (акционеров) не превышает двадцать шесть процентов. При этом, составляет не более пяти лет с даты регистрации инвестиционного контракта. В течение пяти лет государство и (или) субъект квазигосударственного сектора обязаны выйти из состава учредителей и (или) участников (акционеров) юридического лица Республики Казахстан;",
      },
        {
        title: "Для реализации инвестиционного приоритетного проекта",
        text: "в качестве источников либо гарантий финансирования не привлекаются бюджетные средства, за исключением денег, выделяемых на условиях возвратности, срочности и платности, включая лизинговое финансирование и кредитование;",
      },
      {
        title: "Инвестиционная деятельность",
        text: "осуществляется не в рамках договора государственно-частного партнерства, в том числе договора концессии.",
      },
    ],
    link: "Предпринимательский кодекс РК",
  }

  var requirementsContent = {
    mainTitle: "Требования к заявке на предоставление инвестиционных преференций",
    contentSubtitle: "Процедура получения инвестиционных преференций",
    contentSubtitle2: "Этапы реализации инвестиционного проекта путем закючения инвестиционного контракта",
    link: "Предпринимательский кодекс РК",
  }
