-
    var headerLinks = [
      {
        text: "О регионе",
        popup: [
          {
            href: "./general-review.html",
            text: "Общий обзор"
          },
          {
            href: "./region-advantages.html",
            text: "Преимущества"
          },
          {
            href: "history.html",
            text: "Истории успеха"
          },
          {
            href: "./region.html",
            text: "О регионе"
          },
        ]
      },
      {
        href: "./map.html",
        text: "Интерактивная карта"
      },
      {
        text: "Инвестору",
        popup: [
          {
            href: "business-registration.html",
            text: "Регистрация бизнеса"
          },
          {
            href: "permit-procedures.html",
            text: "Разрешительные процедуры"
          },
          {
            href: "regulatory-framework.html",
            text: "Нормативная база"
          },
          {
            href: "government-support.html",
            text: "Государственная поддержка"
          },
          {
            href: "industrial-zone.html",
            text: "Индустриальная зона Актобе"
          },
          {
            href: "support-tools.html",
            text: "Инструменты поддержки бизнеса"
          },
        ]
      },
      {
        text: "Инвестиционные предложения",
        popup: [
          {
            href: "priority-industries.html",
            text: "Приоритетные отрасли"
          },
          {
            href: "#",
            text: "Реализуемые проекты"
          },
          {
            href: "#",
            text: "Проекты, требующие инвестиций"
          },
          {
            href: "#",
            text: "Простаивающие проекты"
          },
          {
            href: "offers.html",
            text: "Все инвестиционные предложения"
          },
        ]
      },
      {
        href: "./news-page.html",
        text: "Новости"
      },
      {
        href: "./contacts.html",
        text: "Контакты"
      },
    ]
