-
  var historyCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "О регионе",
      href: "region.html",
    },
    {
      crumb: "Истории успеха",
      href: "#",
    },
  ]

  var historyList = [
    {
      href: "history-details.html",
      title: "АО «СНПС-Актобемунайгаз»",
      region: "(Китайская Национальная Нефтяная Компания СНПС)",
        text: "Ведущее промышленное предприятие Актюбинской области Республики Казахстан, один из лидеров нефтегазового комплекса страны. Китайская Национальная Нефтяная Компания СНПС является комплексной международной энергетической компанией, занимающей лидирующее положение в мире. CNPC в более 37 странах мира ведет нефтегазовые инвестиционные операции.",
      image: {
        name: "history-1",
        width: 399,
        height: 317,
        alt: "АО «СНПС-Актобемунайгаз»",
      },
    },
    {
      href: "#",
      title: "Евразийская группа",
      region: "",
        text: "АО «ТНК «Казхром» является одним из ведущих современных вертикально-интегрированных предприятий в мире и входит в число крупнейших мировых производителей хромовой руды и ферросплавов с самым низким уровнем затрат.",
      image: {
        name: "history-2",
        width: 399,
        height: 317,
        alt: "",
      },
    },
    {
      href: "#",
      title: "ТОО «Казахойл Актобе»",
      region: "",
        text: "ТОО «Казахойл Актобе» (Участниками Компании на паритетной основе являются национальная компания «КазМунайГаз» и Caspian Investments Resources Ltd (Sinopec)) с 1999 года осуществляет разработку нефтегазоконденсатных месторождений «Алибекмола» и «Кожасай» в Актюбинской области.",
      image: {
        name: "history-3",
        width: 399,
        height: 317,
        alt: "",
      },
    },
    {
      href: "#",
      title: "ТОО «Восход - Oriel»",
      region: "Компания-Учредитель «Йылдырым групп» (Турция), Роберт Йылдырым",
      text: "Предприятия группы «Восход» представляют:",
      list: [
          "ТОО «Восход-Oriel» – ведет разработку месторождения хромовых руд «Восход»",
          "ТОО «Восход Хром» – осуществляет переработку и обогащение хромовой руды",
          "ТОО «Восход-Трейдинг» – осуществляет отгрузку и реализацию товарной продукции"
      ],
      image: {
        name: "history-4",
        width: 399,
        height: 317,
        alt: "",
      },
    },
    {
      href: "#",
      title: "ТОО «АКТЮБИНСКАЯ МЕДНАЯ КОМПАНИЯ»",
      region: "",
        text: "«Актюбинская медная компания» (АМК) —горнодобывающая компания, которая специализируется на добыче и производстве меди в медном концентрате и цинка в цинковом концентрате. Принадлежит «Русской медной компании» (РМК). Производственные объекты расположены в Хромтауском районе Актюбинской области Республики Казахстан.",
      image: {
        name: "history-5",
        width: 399,
        height: 317,
        alt: "",
      },
    },
    {
      href: "#",
      title: "Green Capital Kazakhstan",
      region: "",
        text: "Тепличный комплекс «Greenhouse Kazakhstan» - является первой высокотехнологичной теплицей 5-го поколения полузакрытого типа в Казахстане, построенная по инновационной технологии Ultra-Clima, которая позволяет более эффективнее чем в классических теплицах получать высокую урожайность с минимальными энергозатратами, обеспечивая экологически чистую и высококачественную продукцию.",
      image: {
        name: "history-6",
        width: 399,
        height: 317,
        alt: "",
      },
    },
    {
      href: "#",
      title: "ТОО «Актюбинский рельсобалочный завод» Рельсобалочный завод",
      region: "",
        text: "Уникальное предприятие по производству дифференцированно термо\u00A0-\u00A0упрочненных рельс высокого качества и среднего фасонного проката в Казахстане. Прокатный стан с мировым именем «Siemens-VAI» (Primetals Technologies Italy S.r.l.) и контроль технологии проката со стороны специалистов итальянской компании гарантирует высокое качество, конкурентно способность выпускаемой продукции, которая соответствует требованиям международных стандартов.",
      image: {
        name: "history-7",
        width: 399,
        height: 317,
        alt: "",
      },
    },
    {
      href: "#",
      title: "ТОО «Arm Wind»",
      region: "(Eni S.p.A., «Эни» — крупнейшая итальянская нефтегазовая компания.)",
        text: "ТОО «Arm Wind» успешно завершил строительство Ветровой электрической станции «Бадамша» мощностью 48 МВт в Актюбинской области. Более того, в конце 2019 г. ТОО «Arm Wind» получил еще два проекта по расширению ВЭС «Бадамша» мощностью 48 МВт и строительству Солнечной электрической станции мощностью 50 МВт в Туркестанской области.",
      image: {
        name: "history-8",
        width: 399,
        height: 317,
        alt: "",
      },
    }
  ]
