-
  var historyDetailsCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "О регионе",
      href: "region.html",
    },
    {
      crumb: "Истории успеха",
      href: "history.html",
    },
    {
      crumb: "АО «СНПС-Актобемунайгаз»",
      href: "history-details.html",
    },
  ]

  var historyDetailsContent = {
    mainTitle: "АО «СНПС-Актобемунайгаз»",
    region: "(Китайская Национальная Нефтяная Компания СНПС)",
    img: {
          path: "content",
          image: "history-details1-1",
          format: "png",
          width: "800",
          height: "375",
          altText: "АО «СНПС-Актобемунайгаз»",
          mobile: 767
        },
    info: "Ведущее промышленное предприятие Актюбинской области Республики Казахстан, один из лидеров нефтегазового комплекса страны. Китайская Национальная Нефтяная Компания СНПС является комплексной международной энергетической компанией, занимающей лидирующее положение в мире. CNPC в более 37 странах мира ведет нефтегазовые инвестиционные операции.",
    text: "За 24 последних года (с 1997 года) компания добыла в накопленном исчислении свыше 144 млн. тонн нефти и 80 млрд.куб.м. нефтяного попутного и природного газа. В 2022 году Компания отметит 25-летний юбилей инвестиционной деятельности корпорации CNPC в актюбинском проекте. Огромные изменения произошли в направлении модернизации производства. Значительные инвестиции АО «СНПС-Актобемунайгаз» за эти годы были направлены на реализацию таких стратегически-важных производственных и инфраструктурных проектов модернизации, как железная дорога «Жанажол-Жем», магистральный газопровод «Жанажол-КС13», объекты газлифтной системы добычи, Жанажольская база производственно-технологического обеспечения, Заводы Жанажольского нефтегазоперерабатывающего комплекса, газотурбинная электростанция, система заводнения пластов, смешанный трубопровод для мультифазной продукции «Кенкияк-Жанажол», дожимные компрессорные станции и др. Общие инвестиции АО «СНПС-Актобемунайгаз» за период 1998-2020 годы (включительно) по всем Контрактам на недропользование превысили 10,4 млрд. долл. США.",
    img2: {
          path: "content",
          image: "history-details1-2",
          format: "png",
          width: "800",
          height: "375",
          altText: "",
          mobile: 767
        },
  }
