-
  var industrialZoneCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "Инвестору",
      href: "#",
    },
    {
      crumb: "Индустриальная зона",
      href: "#",
    },
  ]
-
  var industrialZoneNav = [
    {
      name: "Индустриальная зона",
      href: "advantages",
    },
    {
      name: "Управление индустриальной зоны",
      href: "control",
    },
    {
      name: "Приоритетные виды деятельности в&nbsp;индустриальной зоне",
      href: "activities",
    },
    {
      name: "Процедуры одобрения и&nbsp;регистрация заявителя в&nbsp;качестве участника индустриальной зоны",
      href: "manipulation",
    },
    {
      name: "Основные требования к&nbsp;проекту",
      href: "requirements",
    },
    {
      name: "Условия участия &nbsp;<br>в индустриальной зоне",
      href: "terms",
    },
    {
      name: "Информация для участника-инвестора индустриальной зоны",
      href: "information",
    },
  ]
-
  var industrialZoneList = [
    {
      text: "Применение современных технологий иоборудования, обеспечивающих высокую производительность труда иэкологические требования;",
    },
    {
      text: "Конкурентоспособность продукции/услуги;",
    },
    {
      text: "Экспортоориентированность или импортозамещение продукции/услуги;",
    },
    {
      text: "Отсутствие аналогичной продукции в регионе;",
    },
    {
      text: "Хороший опыт и репутация проектной компании;",
    },
    {
      text: "Наличие источников финансирования проекта в полном объёме;",
    },
  ]
-
  var industrialZoneManipulation = [
    {
      title: "Подача заявителем",
      text: "в управляющую компанию ИЗ заявки о его регистрации в качестве участника данной ИЗ;",
    },
    {
      title: "Рассмотрение управляющей компанией",
      text: "соответствующих документов, на&nbsp;предмет: приоритетности проекта для размещения в&nbsp;ИЗ, обоснованности запрашиваемой площади земельного участка потребностям инвестиционного проекта, отсутствия производства аналогичной продукции на&nbsp;территории Актюбинской области;",
    },
    {
      title: "Вынесение вопроса",
      text: "на&nbsp;рассмотрение регионального координационного совета (РКС) для получения рекомендации по&nbsp;проекту;",
    },
  ]
-
  var industrialZoneQuestions = [
    {
      text: "в&nbsp;случае положительной рекомендации РКС, вынесение вопроса утверждения проекта на&nbsp;СД&nbsp;АО&nbsp;&laquo;СПК &laquo;Актобе&raquo;;",
    },
    {
      text: "в&nbsp;случае положительного решения СД&nbsp;СПК, управляющая компания направляет заявителю оферту, с&nbsp;указанием срока, в&nbsp;течение которого заявитель и&nbsp;управляющая компания должны подписать договор на&nbsp;реализацию инвестиционного проекта на&nbsp;территории&nbsp;ИЗ;",
    },
  ]
-
  var industrialZoneCircs = [
    {
      text: "Государство обеспечивает инфраструктуру (ж/д, автодорога, газопровод, электролиния, ОВЛС) до&nbsp;внешних границ&nbsp;ИЗ и&nbsp;по&nbsp;центральной оси ИЗ. Подключение к&nbsp;инфраструктуре&nbsp;&mdash; бесплатно;",
    },
    {
      text: "Оплата за потреблённые услуги — по приборам учёта;",
    },
    {
      text: "Затраты на обслуживание инфраструктуры по отдельному договору с управляющей компанией ИЗ;",
    },
    {
      text: "Первоначально земельный участок передаётся участнику ИЗ в аренду до 49 лет;",
    },
    {
      text: "Подписывается инвестиционный контракт с&nbsp;указанием графика реализации инвестиционного проекта. На&nbsp;период строительства объектов&nbsp;&mdash; до&nbsp;4&nbsp;лет, участник&nbsp;ИЗ арендует землю бесплатно, оплачивает только налог на&nbsp;землю;",
    },
    {
      text: "После исполнения обязательств по&nbsp;инвестиционному контракту (ввод объекта в&nbsp;эксплуатацию и&nbsp;начало выпуска продукции), участник&nbsp;ИЗ имеет право выкупить земельный участок или оставить в&nbsp;долгосрочной аренде;",
    },
    {
      text: "В случае неисполнения графика реализации проекта, земельный участок изымается;",
    },
  ]
