-
  var industries = [
    {
      title: "Производство <br> электроэнергии",
      svg: "industries-item-generation",
      modifier: "generation",
      href: "#",
      size: "one-third",
    },
    {
      title: "Пищевая <br> промышленность",
      svg: "industries-item-food",
      modifier: "food",
      href: "#",
      size: "one-third",
    },
    {
      title: "Сельское хозяйство",
      svg: "industries-item-agriculture",
      modifier: "agriculture",
      href: "#",
      size: "one-third",
    },
    {
      title: "Химическая и нефтяная <br> промышленность",
      svg: "industries-item-oil",
      modifier: "oil",
      href: "#",
      size: "half",
    },
    {
      title: "Металлургическая <br> и горнодобывающая промышленность",
      svg: "industries-item-mining",
      modifier: "mining",
      href: "#",
      size: "half",
    },
    {
      title: "Строительство и произовдсто <br> строительных материалов",
      svg: "industries-item-building",
      modifier: "building",
      href: "#",
      size: "half",
    },
    {
      title: "Фармацевтическая промышленность",
      svg: "industries-item-pharmaceutical",
      modifier: "pharmaceutical",
      href: "#",
      size: "half",
    },
  ]
