-
  var investor = [
    {
      title: "Регистрация бизнеса",
      img: "investor-item-registration",
      modifier: "registration",
      width: "196",
      height: "159",
      href: "#",
    },
    {
      title: "Разрешительные <br> процедуры",
      img: "investor-item-procedures",
      modifier: "procedures",
      width: "141",
      height: "154",
      href: "#",
    },
    {
      title: "Нормативная база",
      img: "investor-item-base",
      modifier: "base",
      width: "123",
      height: "145",
      href: "#",
    },
    {
      title: "Государственная <br> поддержка",
      img: "investor-item-support",
      modifier: "support",
      width: "132",
      height: "229",
      href: "#",
    },
    {
      title: "Индустриальная <br> зона Актобе",
      img: "investor-item-industrial",
      modifier: "industrial",
      width: "280",
      height: "255",
      href: "#",
    },
    {
      title: "Инструменты <br> поддержки бизнеса",
      img: "investor-item-tools",
      modifier: "tools",
      width: "133",
      height: "100",
      href: "#",
    },
  ]
