-
  var management = [
    {
      name: "Управление природных ресурсов и регулирования природопользования Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление образования Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление ветеринарии Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление государственного архитектурно-строительного контроля Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление по делам религий Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление физической культуры и спорта Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление энергетики и жилищно-коммунального хозяйства Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление предпринимательства Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление координации занятости и социальных программ",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление строительства, архитектуры и градостроительства Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление культуры, архивов и документации Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление цифровых технологий Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление по контролю за использованием и охраной земель Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление по инспекции труда Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление сельского хозяйства Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление предпринимательства Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление координации занятости и социальных программ",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление строительства, архитектуры и градостроительства Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление культуры, архивов и документации Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление цифровых технологий Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление по контролю за использованием и охраной земель Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление по инспекции труда Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
    {
      name: "Управление сельского хозяйства Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
      href: "#",
    },
  ]
