-
  var mapFormObjects = [
    {
      image: "oil-gas",
      title: "Добыча сырой нефти и газа",
      name: [],
      id: [],
    },
    {
      image: "metal",
      title: "Добыча металлических руд",
      name: [],
      id: [],
    },
    {
      image: "mining",
      title: "Технические услуги в области горнодобывающей промышленности",
      name: ["ТОО «ККБК Великая стена»", "ТОО «Батыс Мунай»", "АФ ТОО «МНСК Синопэк»", "ТОО «М-Техсервис»"],
      id: ["wall", "batys", "sinopek", "techservice"],
    },
  ]
