-
  var mapBalloons = [
    {
      title: "ТОО «КАЗАХСКО-КИТАЙСКАЯ БУРОВАЯ КОМПАНИЯ «ВЕЛИКАЯ СТЕНА»",
      activity: "бурение скважин на нефть",
      address: "г. Актобе, пр. А. Молдагуловой 43/А",
      telMask: "+77132947208",
      tel: "+7 (7132) 94 72 08",
      faxMask: "+77132947226",
      fax: "+7 (7132) 94 72 26",
      emails: ["skgw_aktobe@mail.ru", "ad@skgw.kz"],
    },
  ]
