-
  var mapFormBase = [
    {
      image: "materials",
      title: "Углеводородное сырье (УВС)",
      name: ["Нефть"],
      id: ["oil"],
    },
    {
      image: "resources",
      title: "Общераспространенные полезные ископаемые (ОПИ)",
      name: ["Облицовочный камень (мрамор)", "Формовочный материал", "Гипс", "Мел", "Минеральные краски", "Бентонитовые глины", "Тугоплавкие глины", "Кремнистое сырье", "Кварц и кварциты", "Соль поваренная", "Керамзитовое сырье", "Песчано-гравийная смесь", "Строительный песок", "Строительный камень", "Кирпичное сырье"],
      id: ["marble", "molding", "gypsum", "chalk", "mineral-paints", "bentonite-clays", "refractory-clays", "silicon", "quartz", "salt", "expanded-clays", "sand-gravel", "construction-sand", "building-stone", "brick-materials"],
    },
    {
      image: "fossils",
      title: "Твердые полезные ископаемые (ТПИ)",
      name: ["Никель-кобальт", "Титан-циркониевые руды", "Хромовые руды", "Золото", "Асбест", "Полевошпатовое сырье", "Бурый уголь", "Кировые и битуминозные породы", "Фосфоритовые руды", "Тальк, тальковый камень", "Руда, кристаллосырье Гранулированный и молочно-белый кварц", "Марганцевые руды", "Бокситы"],
      id: ["nickel-cobalt", "titanium-zirconium-ores", "chromium-ores", "gold", "asbestos", "feldspar-materials", "brown-coal", "bituminous-rocks", "phosphorite-ores", "talcum-stone", "milky-white-quartz", "manganese-ores", "bauxites"],
    },
  ]
