-
  var newsDetailCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "Новости",
      href: "news-page.html",
    },
    {
      crumb: "558 млрд. тенге инвестиций привлечено в Актюбинскую...",
      href: "#",
    },
  ]

  var newsDetailContent = {
    mainTitle: "558 млрд. тенге инвестиций привлечено в Актюбинскую область с начала года",
    title: "Об итогах социально-экономического развития Актюбинской области за 9 месяцев 2021 года и планах на предстоящий период сообщил аким области Ондасын Уразалин.",
    date: "4.11.2021",
    text: [
      "“Мы в первой пятёрке среди регионов. В частности, занимаем четвертое место. Привлечение инвестиций даёт дополнительный импульс развитию нашего региона. В этой связи в области ведется активная работа по созданию благоприятного инвестиционного климата. До конца года планируем привлечь более 800 миллиардов тенге инвестиций. Предпосылки для этого были созданы”, - сообщил аким Актюбинской области Ондасын Уразалин на пресс-конференции в Службе центральных коммуникаций.",
      "В числе крупных инвестпроектов - модернизация ТЭЦ стоимостью 20 млрд. тг., Центр обработки данных ТОО «West Smart Trading» стоимостью 13,8 млрд. тг., реконструкция установки комплексной подготовки газа ТОО «Gas Processing Company» стоимостью 5,4 млрд. тг. В сфере малого и среднего бизнеса также отмечается положительная динамика развития.",
      "«В своём Послании Президент отметил, что меры поддержки бизнеса во время пандемии доказали свою эффективность и поручил продолжить их реализацию. В целом в Актюбинской области развитию предпринимательства уделяется особое внимание. По итогам 9 месяцев поддержано более 2,5 тысячи проектов малого и среднего бизнеса. Это в два раза больше, чем в прошлом году», - проинформировал О. Уразалин.",
      "До конца года мерами государственной поддержки планируется охватить около 3,3 тысячи субъектов малого и среднего бизнеса.",
    ],
    link: "Источник",
  }
