-
  var newsPageCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "Новости",
      href: "#",
    },
  ]
  var newsPage = [
    {
      href: "news-detail.html",
      date: "10.11.2021",
      datetime: "2021-11-10",
      title: "Оценка конкуренции на финансовом рынке",
      img: "news-1",
      news: "Опрос по оценке конкуренции проводит НацБанк и предлагает актюбинским предпринимателям высказать своё мнение.",
    },
    {
      href: "news-detail.html",
      date: "10.11.2021",
      datetime: "2021-11-10",
      title: "Глубокая переработка – приоритет развития аграрного сектора",
      img: "news-2",
      news: "Как уточнили в пресс-службе регионального правительства, главные темы встречи – расширение международного партнёрства.",
    },
    {
      href: "news-detail.html",
      date: "10.11.2021",
      datetime: "2021-11-10",
      title: "Оцените уровень административной нагрузки на бизнес",
      img: "news-3",
      news: "Приглашаем бизнес-сообщество области принять участие в опросе, который поможет оценить уровень административной нагрузки на предприятия",
    },
        {
      href: "news-detail.html",
      date: "10.11.2021",
      datetime: "2021-11-10",
      title: "Оценка конкуренции на финансовом рынке",
      img: "news-1",
      news: "Опрос по оценке конкуренции проводит НацБанк и предлагает актюбинским предпринимателям высказать своё мнение.",
    },
    {
      href: "news-detail.html",
      date: "10.11.2021",
      datetime: "2021-11-10",
      title: "Глубокая переработка – приоритет развития аграрного сектора",
      img: "news-2",
      news: "Как уточнили в пресс-службе регионального правительства, главные темы встречи – расширение международного партнёрства.",
    },
    {
      href: "news-detail.html",
      date: "10.11.2021",
      datetime: "2021-11-10",
      title: "Оцените уровень административной нагрузки на бизнес",
      img: "news-3",
      news: "Приглашаем бизнес-сообщество области принять участие в опросе, который поможет оценить уровень административной нагрузки на предприятия",
    },
        {
      href: "news-detail.html",
      date: "10.11.2021",
      datetime: "2021-11-10",
      title: "Оценка конкуренции на финансовом рынке",
      img: "news-1",
      news: "Опрос по оценке конкуренции проводит НацБанк и предлагает актюбинским предпринимателям высказать своё мнение.",
    },
    {
      href: "news-detail.html",
      date: "10.11.2021",
      datetime: "2021-11-10",
      title: "Глубокая переработка – приоритет развития аграрного сектора",
      img: "news-2",
      news: "Как уточнили в пресс-службе регионального правительства, главные темы встречи – расширение международного партнёрства.",
    },
    {
      href: "news-detail.html",
      date: "10.11.2021",
      datetime: "2021-11-10",
      title: "Оцените уровень административной нагрузки на бизнес",
      img: "news-3",
      news: "Приглашаем бизнес-сообщество области принять участие в опросе, который поможет оценить уровень административной нагрузки на предприятия",
    },
  ]
