-
  var offersCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "Инвестиционные предложения",
      href: "#",
    },
  ]

  var offersContent = {
    mainTitle: "Инвестиционные предложения",
    listProjectTitle: "Все проекты",
  }

  var offersSelect = {
    activeItem: "Все проекты",
    selectItems: [
    {
      name: "Реализуемые проекты",
      id: "realized-project",
      href: "",
    },
    {
      name: "Проекты требующие инвестиций",
      id: "need-investment-projects",
      href: "",
    },
    {
      name: "Простаивающие объекты",
      id: "idle-objects",
      href: "",
    },
    {
      name: "Все объекты",
      id: "all-objects",
      href: "",
    },
    ]
  }

  var allProjects = [
    {
      href: "project.html",
      level: "Реализуемые проекты",
      title: "Освоение месторождения медно-цинковых руд «Лиманное»",
      region: "Хромтауский район",
      cost: "41000 млн. тг.",
      branch: "",
      status: "На стадии реализации",
      initiator: "ТОО «КазГеоРуд»",
      start: 2024,
      image: {
        name: "project-card-1",
        width: 399,
        height: 317,
        alt: "Фото проекта",
      },
    },
    {
      href: "project.html",
      level: "Реализуемые проекты",
      title: "Горно-металлургический комбинат",
      region: "Хромтауский район",
      cost: "41000 млн. тг.",
      branch: "",
      status: "На стадии реализации",
      initiator: "ТОО «КазГеоРуд»",
      start: 2024,
      image: {
        name: "project-card-2",
        width: 399,
        height: 317,
        alt: "Фото проекта",
      },
    },
    {
      href: "project.html",
      level: "Реализуемые проекты",
      title: "Строительство фабрики сухой магнитной сепарации",
      region: "Хромтауский район",
      cost: "41000 млн. тг.",
      branch: "",
      status: "На стадии реализации",
      initiator: "ТОО «КазГеоРуд»",
      start: 2024,
      image: {
        name: "project-card-3",
        width: 399,
        height: 317,
        alt: "Фото проекта",
      },
    },
    {
      href: "project.html",
      level: "Простаивающие объекты",
      title: "Фабрика по переработке вторсырья в бумагу",
      region: "Хромтауский район",
      cost: "41000 млн. тг.",
      branch: "",
      status: "На стадии реализации",
      initiator: "ТОО «КазГеоРуд»",
      start: 2024,
      image: {
        name: "project-card-4",
        width: 399,
        height: 317,
        alt: "Фото проекта",
      },
    },
    {
      href: "project.html",
      level: "Простаивающие объекты",
      title: "Мини завод по производству химических продуктов и моторного топлива",
      region: "Хромтауский район",
      cost: "41000 млн. тг.",
      branch: "",
      status: "На стадии реализации",
      initiator: "ТОО «КазГеоРуд»",
      start: 2024,
      image: {
        name: "project-card-5",
        width: 399,
        height: 317,
        alt: "Фото проекта",
      },
    },
    {
      href: "project.html",
      level: "Простаивающие объекты",
      title: "Цех по выпуску пенополистиролбетонных изделий",
      region: "г. Алга",
      cost: "70 млн. тг.",
      branch: "",
      status: "В связи с нерентабельностью производства из-за высокой цены сырья проект простаивает с 2019 года. На сегодня инвестором рассматривается вариант перепрофилирование производства или полная продажа объекта.",
      initiator: "ТОО «Актобе  Дриллинг Сервис»",
      start: "2013 год",
      image: {
        name: "project-card-6",
        width: 399,
        height: 317,
        alt: "Фото проекта",
      },
    },
  ]
