-
  var office = [
    {
      infoName: "Тел",
      info: "8 (7132) 93-20-81",
      href: "77132932081",
      type: "tel",
    },
    {
      infoName: "Телефон для для приема обращений граждан",
      info: "8 (7132) 93-20-64",
      href: "77132932064",
      type: "tel",
    },
    {
      infoName: "E-mail",
      info: "mail@akto.kz",
      href: "mail@akto.kz",
      type: "email",
    },
  ]
