-
  var permitProceduresCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "Инвестору",
      href: "#",
    },
    {
      crumb: "Разрешительные процедуры",
      href: "permit-procedures.html",
    },
  ]

  var permitProceduresNav = [
    {
      name: "Порядок привлечения иностранной рабочей силы",
      href: "procedure-for-attracting",
    },
    {
      name: "Процедура получения разрешения на привлечение иностранной рабочей силы",
      href: "obtaining-procedure",
    },
    {
      name: "Процедура получения земельного участка",
      href: "land-procedure",
    },
    {
      name: "Процедура оформления документации для строительства",
      href: "build-procedure",
    },
    {
      name: "Разрешение на подключение к сетям водоснабжения и канализации",
      href: "permission-water",
    },
    {
      name: "Разрешение на подключение к сетям электроснабжения",
      href: "permission-power",
    },
      {
      name: "Разрешение на подключение к теплоснабжениям",
      href: "permission-heat",
    },
  ]

  var attractingContent = {
    mainTitle: "Порядок привлечения иностранной рабочей силы",
    text: "В целях определения порядка и условий выдачи и (или) продления разрешений на привлечения иностранной рабочей силы (далее – разрешение) устанавливаются следующие категории работникoв:",
    list: [
        "Руководители и их заместители;",
        "Руководители структурных подразделений, соответствующие квалификационным требованиям, установленным профессиональными стандартами, квалификационным справочником должностей руководителей, специалистов и других служащих, типовыми квалификационными характеристиками должностей руководителей, специалистов и других служащих организаций;",
        "Специалисты, соответствующие квалификационным требованиям, установленным профессиональными стандартами, квалификационным справочником должностей руководителей, специалистов и других служащих, типовыми квалификационными характеристиками должностей руководителей, специалистов и других служащих организаций;",
        "Квалифицированные рабочие, соответствующие квалификационным требованиям, установленным профессиональными стандартами, Единым тарифно-квалификационным справочником работ и профессий рабочих, тарифно квалификационными характеристиками профессий рабочих."
      ],
    }

  var obtainingContent = {
    mainTitle: "Процедура получения разрешения на привлечение иностранной рабочей силы",
    textBold: "В соответствии с пунктом 16 Правил выдача и (или) продление местным исполнительным органом разрешений осуществляется при соблюдении следующих условий:",
    list: [
        "количество граждан Республики Казахстан не менее 70% списочной численности работников, относящихся к первой и второй категориям;",
        "количество граждан Республики Казахстан не менее 90% списочной численности работников, относящихся к третьей и четвертой категориям.",
      ],
    columns1: "Работодатель, привлекающий иностранных работников в рамках внутрикорпоративного перевода, обеспечивает процентное соотношение численности иностранных работников (менеджеров и специалистов), привлекаемых в рамках внутрикорпоративного перевода составляющего не более 50% к количеству казахстанских кадров соответствующей категории.",
    columns2: [
        "За выдачу и (или) продление разрешения с работодателей взимается налоговый сбор (далее – сбор) согласно размерам ставок сбора за выдачу и (или) продление разрешения на привлечение иностранной рабочей силы в Республику Казахстан, утвержденным Постановлением Правительства Республики Казахстан от 3 апреля 2018 года №157 «Об установлении ставок сбора за выдачу и (или) продление разрешения на привлечение иностранной рабочей силы в Республику Казахстан».",
        "Привлечение иностранной рабочей силы в рамках внутрикорпоративного перевода осуществляется вне квоты и на бесплатной основе."
      ]
    }

  var landContent = {
    mainTitle: "Процедура получения земельного участка",
  }

  var buildContent = {
    mainTitle: "Процедура оформления документации для строительства",
  }

  var waterContent = {
    mainTitle: "Разрешение на подключение к сетям водоснабжения и канализации",
    text: "Перечень необходимых документов для получения технических условий на подключение к системе водоснабжения и канализации:",
    para: [
      {
        text: "В обращении (заявке, заявлении) на получение технических условий на подключение к системам водоснабжения и/или водоотведения указываются:",
        img: {
          path: "content",
          image: "permission-water",
          format: "png",
          width: "822",
          height: "1005",
          altText: "Карточка информация, которая должна быть указана в заявке",
        }
      },
      {
        text: "Также потребитель предоставляет поставщику услуг решение местного исполнительного органа о предоставлении (прирезке) земельного участка (разрешение на использование участка) для нового строительства, или разрешение местного исполнительного органа на изменение существующих объектов (реконструкция, перепланировка, переоборудование).",
        img: {
          path: "content",
          image: "permission-water-2",
          format: "png",
          width: "822",
          height: "304",
          altText: "Карточка информация, которая должна быть указана в заявке",
        }
      },
    ],
  }

  var powerContent = {
    mainTitle: "Разрешение на подключение к сетям электроснабжения",
    table: [
      {
        row: {
          tr: [
          "1",
          ],
          tr2: [
            "Копия акта разграничения балансовой принадлежности электросетей и эксплуатационной ответственности сторон со схемой подключения потребителя",
          ],
          tr3: [
            "Выдает организация, к сетям которой подключается потребитель РЭК ТОО «Энергосистема» тел. 21-14-79",
          ],
        },
      },
      {
        row: {
          tr: [
          "2",
          ],
          tr2: [
            "Копия справки о государственной регистрации (для юридических лиц), выписка из государственного электронного реестра разрешений и уведомлений (для индивидуальных предпринимателей)",
          ],
          tr3: [
            "Потребитель",
          ],
        },
      },
      {
        row: {
          tr: [
          "3",
          ],
          tr2: [
            "Копия документа о зарегистрированных правах на недвижимое имущество или правоустанавливающего документа на объект электроснабжения",
          ],
          tr3: [
            "Потребитель",
          ],
        },
      },
      {
        row: {
          tr: [
          "4",
          ],
          tr2: [
            "Копия приказа (доверенности) на лицо, имеющее право подписания договора на электроснабжение, с приложением документа, удостоверяющего личность, за исключением первого руководителя организации",
          ],
          tr3: [
            "Потребитель",
          ],
        },
      },
      {
        row: {
          tr: [
          "5",
          ],
          tr2: [
            "Копия технических условий (при смене владельца объектов предоставление технических условий не требуется)",
          ],
          tr3: [
            "Выдает энергопередающая организация, к сетям которой подключается потребитель РЭК ТОО «Энергосистема» тел. 953-432",
          ],
        },
      },
      {
        row: {
          tr: [
          "6",
          ],
          tr2: [
            "За разъяснениями по заключению договоров электроснабжения обращаться в отдел договоров электроснабжения ТОО «Актобеэнергоснаб»",
          ],
          tr3: [
            "ТОО «Актобеэнергоснаб» начальник договорного отдела каб.207 тел.953-307 Для городских потребителей каб.221 тел. 77-39-02, 953-519 каб.207 тел. 953-309 каб.219 тел. 953-219 для районных потребителей каб.205 тел.953-306",
          ],
        },
      },
    ],
  }

  var heatContent = {
    mainTitle: "Разрешение на подключение к теплоснабжениям",
    text: "Для получения ТУ юридическими лицами, индивидуальным предпринимателям, необходим следующий перечень документов:",
    text2: "Для газификации новых объектов, строительства новых газопроводов (включая замену существующих газопроводов), изменение диаметра или места расположения (перенос) существующих газопроводов и т. д. необходимо получить в местной газораспределительной организации Технические условия (ТУ) (на проектирование объектов газификации).",
    list: [
      {
        text: "Письмо (заявление) на имя технического директора АО «КазТрансГаз Аймак» (или главного инженера производственного филиала) с просьбой о выдаче ТУ с указанием запланированного объема максимального часового расхода газа объектом;",
      },
      {
        text: "Копия государственного акта на землю, правоустанавливающие документы на недвижимое имущество, где расположен объект, либо нотариально оформленное соглашение собственника недвижимого имущества на газификацию объекта;",
      },
      {
        text: "Копию технического паспорта на объект;",
      },
      {
        text: "Технические данные газопотребляющего оборудования по расходу и давлению газа (копии);",
      },
      {
        text: "Учредительные (регистрационные) документы заказчика;"
      },
      {
        isPara: true,
        text: "Топографическая съемка местности, где расположен объект с прилегающей территорией, в масштабе М 1:500.",
        subText: "Проектирование и производство монтажных работ могут выполнить организации, имеющие соответствующие государственные лицензии или заключить договор с газораспределительной организацией (ПФ АО «КазТрансГаз Аймак») своего региона.",
      },
      {
        isPara: true,
        text: "Договор на техническое и аварийное обслуживание (юридические лица, индивидуальные предприниматели, использующие нежилые здания/помещения/здания/сооружения).",
        subText: "Договор на техническое и аварийное обслуживание заключить с ПФ АО «КазТрансГаз Аймак» или организациями, имеющими лицензии на выполнение данных видов работ (оснащенные необходимой техникой, оборудованием, материалами и квалифицированным персоналом).",
      }
    ],
  }
