-
  var persons = [
    {
      photo: "ermek",
      person: "Ермек Кенжеханулы",
      post: "Заместитель акима Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
    },
    {
      photo: "kuandyk",
      person: "Куандык Касымов",
      post: "Руководитель управления индустриально- инновационного развития Актюбинской области",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
    },
    {
      photo: "tleuzhan",
      person: "Тлеужан Тлешов",
      post: "Председатель правления АО “СПК АКТОБЕ”",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
    },
    {
      photo: "kurmangali",
      person: "Курмангали Аманкосов",
      post: "Региональный директор по Актюбинской области АО НК “KAZAKH INVEST”",
      hrefTel: "77132932081",
      tel: "8 (7132) 93-20-81",
      email: "mail@akto.kz",
    },
  ]
