-
  var priorityCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "Инвестиционные предложения",
      href: "#",
    },
    {
      crumb: "Приоритетные отрасли",
      href: "#",
    },
  ]

  var priorityNav = [
    {
      name: "Металлургическая и горнодобывающая промышленность",
      href: "metallurgical",
    },
    {
      name: "Химическая и нефтяная промышленность",
      href: "chemical",
    },
    {
      name: "Производство электроэнергии",
      href: "electrical",
    },
    {
      name: "Строительство и производство строительных материалов",
      href: "engineering",
    },
    {
      name: "Сельское хозяйство",
      href: "agricultural",
    },
    {
      name: "Пищевая промышленность",
      href: "food",
    },
    {
      name: "Фармацевтическая <br> промышленность",
      href: "pharmaceutical",
    },
  ]

  var metallurgicalContent = {
    mainTitle: "Металлургическая и горнодобывающая промышленность",
    contentTitle: "На территории области имеются запасы руд, широко используемых <br> в металлургии - хрома, никеля, титана, цинка, меди, алюминия.",
    textContent: [
      "Стоит заметить, что с 2021 г. цены на металлы показывают положительную динамику, что может стимулировать поток инвестиций в отрасль.",
      "Из всех добываемых в области руд при производстве сплавов в основном используется хром. Большая часть хромовой руды, произведенной на Донском горно-обогатительном комбинате (ГОК), который входит в группу ТНК «Казхром», отправляется на ферросплавные заводы группы в Аксу (Павлодарская обл.) и в Актобе, а остальная часть на экспорт.",
      "В области также производится рафинированная медь, оказываются услуги по литью, но 99% всей металлургической продукции составляют ферросплавы, а именно феррохром – сплав железа с хромом.",
      "Цены на металлы тесно связаны с индустриальным развитием Китая, так как более 50% мирового импорта металлических руд и концентратов приходится на эту страну. В связи с возросшей долговой нагрузкой Китая и снижением темпов роста строительного сектора в 2020 г. Из-за глобальной спрос на металлы замедлился. С 2021 г. наблюдается восстановление спроса на базовые металлы.",
      "Согласно прогнозным данным, средний темп роста промышленности в Казахстане за 2022-2024 гг. составит 2,7%, тогда как средний темп роста металлургии будет опережать рост промышленности в 2 раза и составит 5,4%. Рост отрасли связан с прогнозируемой стабилизацией цен на базовые металлы, развитием нефтегазового сектора и, как следствие, увеличением спроса на металлические трубы.",
      "В ближайшем будущем прогнозируется дальнейший рост производства металлургической продукции в Казахстане и в частности в Актюбинской области за счет растущего глобального спроса.",
    ],
    promisingTitle: "Привлекательные ниши",
  }

  var chemicalContent = {
    title: "Химическая и нефтяная промышленность",
    contentTitle: "Нефтегазовая отрасль составляет существенную долю промышленности Актюбинской  области.",
    textContent: [
      "Согласно данным АО НК «КазМунайГаз» 5,6% всех углеводородных ресурсов Казахстана  находится в Актюбинской области. В области открыто около 25 нефтегазовых месторождений,  а наиболее крупными являются Жанажол, Кенкияк и Северная Трува.",
      "Особенностью нефтяных бассейнов Актюбинской области является уникальность их геологической структуры: наличие надсолевых и подсолевых структур. При этом подсолевые структуры не такие глубокие как в Атырауской и Мангистауской областях.",
      "Крупные инвестиции в нефтепереработку, расширение добычи на крупнейших месторождениях, применение новых технологии в бурении, включая горизонтальное бурение и гидроразрыв пласта <br> с использованием проппанта, а также доступ к рынку Китая могут обеспечить рост отрасли.",
    ],
    promisingTitle: "Привлекательные ниши",
  }

  var electricalContent = {
    title: "Производство электроэнергии",
    contentTitle: "Объем инвестиций в электроснабжение показывает стабильную динамику из года в год.",
    textContent: [
      " Существенная доля объема электроэнергии в стране производится тепловыми и газотурбинными электростанциями на угле (88,7%), в то время как в Актюбинской области, основным сырьём для выработки электроэнергии служит газ. Возобновляемые источники энергии занимают 1,5% от всего производства электрической энергии в Казахстане. ВИЭ требуют высоких инвестиционных затрат и не могут конкурировать с более дешёвым топливом.",
      "Дальнейшее развитие экономики страны требует дополнительных объёмов производства электроэнергии в энергодефицитных регионах, в том числе и в Актюбинской области.",
      "Актюбинская область традиционно является промышленно развитым регионом. В связи с отсутствием в регионе крупных производителей электроэнергии на данный момент область является энергодефицитной.",
      "В Актюбинской области имеются четыре электростанции оперирующих на газе. Однако, стоит отметить, что три из четырёх электростанций оперируют для удовлетворения собственных производительных нужд предприятий. В связи с крупными запасами как попутного так и магистрального газа, в области уделяется большое внимание строительству электростанций работающих на газе.",
    ],
    promisingTitle: "Привлекательные ниши",
  }

  var engineeringContent = {
    title: "Строительство и производство строительных материалов",
    contentTitle: "Ожидается дальнейший рост объемов строительства и соответственно спроса на строительные материалы. Основными драйверами роста будут служить благоприятная демографическая ситуация в регионе и реализация жилищных программ.",
    textContent: [
      "Растет и количество молодых семей. С целью поддержки населения и доступности жилья, государство разрабатывает ряд жилищных/ипотечных программ.",
      "Для увеличения объемов производства и продвижения экспорта в секторе строительных материалов, Акимат Актюбинской области и Национальная Компания «Kazakh Invest» ведут работы по привлечению инвестиций. Планируется, что в ближайшем будущем область будет обеспечивать внутренние потребности рынка на 100%.",
    ],
  }

  var agriculturalContent = {
    title: "Сельское хозяйство",
    contentTitle: "Сельское хозяйство является одной из основных отраслей экономики Актюбинской области.",
    textContent: [
      "Сельское хозяйство входит в перечень приоритетных видов деятельности для реализации инвестиционных проектов в Республике Казахстан.",
      "В последние годы в регионе наблюдается значительный рост объема инвестиций в основной капитал в сельском хозяйстве, что отражает высокую привлекательность данной отрасли для  инвесторов.",
      "Сельское хозяйство региона в большей степени имеет животноводческую направленность. <br> Основной растениеводческой культурой выращиваемой в области является пшеница.",
      "В ближайшем будущем прогнозируется дальнейший рост производства продукции сельского <br> хозяйства в Казахстане и в частности в Актюбинской области за счет растущего глобального спроса <br> на сельхозпродукцию.",
    ],
    promisingTitle: "Привлекательные ниши",
  }

  var foodContent = {
    title: "Пищевая промышленность",
    contentTitle: "Сельское хозяйство является одной из основных отраслей экономики Актюбинской области.",
    textContent: [
      {
        text: "В ближайшем будущем прогнозируется дальнейший рост производства продукции пищевой промышленности в Казахстане и в частности в Актюбинской области за счет растущего местного и глобального спроса на продукты питания и напитки и следующие факторы:",
      },
      {
        title: "Рост населения",
        text: "Рост населения обеспечит стабильный рост спроса на продукцию пищевой промышленности в среднесрочной перспективе. Долгосрочные прогнозы роста аселения также позитивны как в отношении Казахстана так и региона.",
      },
      {
        title: "Государственная поддержка",
        text: "Правительство активно проводит политику диверсификации экономики и снижения зависимости от производства продукции добывающей промышленности. В связи с чем, государство оказывает значительную поддержку развитию обрабатывающей промышленности и в частности пищевой промышленности.",
      },
      {
        title: "Рост производства сельхозпродукции",
        text: "Рост валового выпуска продукции сельского хозяйства в Казахстане и Актюбинской области обеспечит   пищевую промышленность достаточными объемами сырья для удовлетворения спроса на продукты питания и напитки.",
      },
    ],
    promisingTitle: "Привлекательные ниши",
  }

  var pharmaceuticalContent = {
    title: "Фармацевтическая промышленность",
    contentTitle: "Объявление пандемии коронавирусной инфекции и ее первая волна, разыгравшаяся в Казахстане летом прошлого года, оказали  существенное влияние и на общую картину отечественного фармрынка. Так, по данным международной аналитической компании IQVIA, стоимостной объем казахстанского фармацевтического рынка с учетом розничных продаж и закупок для ГОБМП по итогам 11 месяцев 2020 года вырос на 22% по сравнению с аналогичным периодом предыдущего года. При этом объем реализации фармацевтической продукции в розничном сегменте увеличился на 18%.",
    textContent: [
      "Основными факторами положительной динамики рынка в 2020 году стали резкое повышение спроса на лекарственные средства, повышение их стоимости и появление новых препаратов. Из-за пандемии коронавируса на рынке появилось множество новых препаратов, которые помогали в профилактике и борьбе с последствиями коронавируса. В обычное время новые лекарства появляются на рынке в течение длительного времени, однако в условиях пандемии сроки значительно сократились, что повлияло на себестоимость лекарственных средств.",
      "Если в 2019 году доля отечественных производителей в денежном выражении составила 14%, то по итогам 2020 года данный показатель возрос до 16% от общего фармрынка РК. Отмечается увеличение производства ОТП на 39% в стоимостном выражении по сравнению с 2019 годом (рост бюджетного сегмента на 48%, розницы – 28%).",
      "По итогам 2019 г. в мировом рейтинге стран – экспортеров фармацевтической продукции (https://www.worldstopexports.com)  Казахстан занял 72-е место из 116 стран, что указывает на низкую экспортоориентрованность отечественных производителей. Тем не менее благодаря активной политике государства по поддержке предпринимательской инициативы в сфере производства лекарственных средств отмечается рост объемов от местных производителей, где порядка 70% всей выпускаемой продукции реализуется через государственный канал. Гарантия государства на производимый объем позволяет ОТП расширять свое производство и осваивать новые ранки. Этому свидетельствует увеличение среднего объема экспорта за последние 5 лет, который составил более составил 34 млн долл. США, где 80% экспорта приходится на Российскую Федерацию.",
      "В целом по итогам 2020 года одним из основных драйверов роста экономики Казахстана стала фармацевтика (47%) наряду с отраслями строительства (+11,2%) и обрабатывающей  промышленности (+3,9%), рост которой был обеспечен за счет автомобилестроения (52,5%). При этом доля фармацевтической промышленности в ВПП составила 0,45%.",
      "Количество наименований, закупаемых у единого дистрибьютера, увеличились с 804 наименований в 2010 году до 1439 наименований в 2021 году, составив рост в 1,8 раза. По итогам закупочных процедур в текущем году первое место по размеру доли в общем объеме закупа пришлось на отечественную продукцию, на втором – немецкая продукция.",
    ],
  }
