-
  var project = {
    crumbs: [
      {
        crumb: "Главная",
        href: "./main.html",
      },
      {
        crumb: "Инвестиционные предложения",
        href: "./offers.html",
      },
      {
        crumb: "Строительство горно-обогатительного комплекса по&nbsp;добыче и переработке титано-циркониевых руд",
        href: "#",
      },
    ],
    card: {
      level: "Реализуемые проекты",
      title: "Строительство горно-обогатительного комплекса по&nbsp;добыче и переработке титано-циркониевых руд",
      region: "Хромтауский район",
      cost: "41000 млн. тг.",
      branch: "",
      status: "На стадии реализации",
      initiator: "ТОО «КазГеоРуд»",
      start: 2024,
      image: {
        name: "project",
        width: 399,
        height: 317,
        alt: "Первый слайд",
      },
      slider: {
        slides: [
          {
            img: "project-slide-1",
            alt: "Слайд проекта 1"
          },
          {
            img: "project-slide-1",
            alt: "Слайд проекта 2"
          },
          {
            img: "project-slide-1",
            alt: "Слайд проекта 3"
          },
        ],
      },
    },
    table: [
      {
        position: "Инвестор:",
        value: "РК",
      },
      {
        position: "Проектная мощность:",
        value: "2,1 млн тонн (титан-цирконий)",
      },
      {
        position: "Ресурсная база:",
        value: "Титан-циркониевые руды (месторождение)",
      },
      {
        position: "Статус:",
        value: "ТОО «Экспоинжиниринг» ведет работы по освоению месторождения «Шокаш» с 2017 года. За этот период компания обеспечила рост добычи титан-циркониевых руд от 5 тыс. тонн в год до 10 тыс. тонн в год. В настоящее время планируется модернизация опытно-промышленной установки по переработке титан-циркониевой руды до 40 тыс. тонн в год. Работы планируется завершить до конца т.г.",
      },
      {
        position: "Проблемные вопросы:",
        value: "Отсутствуют",
      },
      {
        position: "Постоянные рабочие места:",
        value: "200 чел.",
      },
    ],
  }
