-
  var promoFactoids = [
    {
      number: "12",
      text: "<br> районов",
    },
    {
      number: "8",
      text: "<br> городов",
    },
    {
      number: "300600 ",
      text: "км2 <br> площадь",
    },
    {
      number: "839.2 ",
      text: "чел. <br> население области",
    },
  ]
