-
  var proposals = [
    {
      title: "Приоритетные отрасли",
      text: "Адресное привлечение инвестиций будет направлено на привлечение в Актюбинскую область большего потока инвестиций, ориентированных на повышение эффективности.",
    },
    {
      title: "Приоритетные отрасли",
      text: "Адресное привлечение инвестиций будет направлено на привлечение в Актюбинскую область большего потока инвестиций, ориентированных на повышение эффективности.",
    },
    {
      title: "Приоритетные отрасли",
      text: "Адресное привлечение инвестиций будет направлено на привлечение в Актюбинскую область большего потока инвестиций, ориентированных на повышение эффективности.",
    },
  ]
