-
  var regionCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "О регионе",
      href: "#",
    },
  ]
-
  var cardInform = [
    {
      title: "Общий обзор",
      class: "french-pass",
      text: "Актюбинская область, крупнейшая административная единица Западно-Казахстанского региона, расположенная на северо-западе Республики Казахстан.",
      width: 265,
      height: 187,
      img:  "region-card-overview",
      href: "./general-review.html",
    },
    {
      title: "Преимущества региона",
      class: "bali-hai",
      text: "Актюбинская область является одной из динамично развивающихся областей Республики Казахстан.",
      width: 216,
      height: 178,
      img:  "region-card-advantages",
      href: "#",
    },
    {
      title: "Истории успеха",
      class: "pattens-blue",
      text: "Стоит заметить, что с 2021 г. цены на металлы показывают положительную динамику, что может стимулировать поток.",
      width: 150,
      height: 207,
      img:  "region-card-stories",
      href: "#",
    },
  ]
