-
  var regionAdvantagesCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "О регионе",
      href: "region.html",
    },
    {
      crumb: "Преимущества региона",
      href: "region-advantages.html",
    },
  ]
