-
  var regulatoryCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "Инвестору",
      href: "#",
    },
    {
      crumb: "Нормативная база",
      href: "regulatory-framework.html",
    },
  ]

-
  var regulatoryImg = [
    {
      img:"regulatory-framework",
    },
  ]

-
  var regulatoryList = [
    {
      href: "#",
      text: "Предпринимательский кодекс",
    },
    {
      href: "#",
      text: "Гражданский кодекс",
    },
    {
      href: "#",
      text: "Земельный кодекс",
    },
    {
      href: "#",
      text: "О налогах и других платежах в бюджет",
    },
    {
      href: "#",
      text: "Экологический кодекс",
    },
    {
      href: "#",
      text: "О таможенном регулировании",
    },
    {
      href: "#",
      text: "О недрах и недропользовании",
    },
  ]
