-
  var supportCrumbs = [
    {
      crumb: "Главная",
      href: "main.html",
    },
    {
      crumb: "Инвестору",
      href: "#",
    },
    {
      crumb: "Инструменты поддержки бизнеса",
      href: "support-tools.html",
    },
  ]

-
  var supportImg = [
    {
      img: "support-tools",
    },
  ]

-
  var supportList = [
    {
      href: "#",
      text: "QazIndustry",
    },
    {
      href: "#",
      text: "Атамекен",
    },
    {
      href: "#",
      text: "Национальный контактный центр Казахстана",
    },
    {
      href: "#",
      text: "МФЦА",
    },
    {
      href: "#",
      text: "Даму",
    },
    {
      href: "#",
      text: "АО СПК «Актобе»",
    },
    {
      href: "#",
      text: "АО НК «Kazakh INVEST»",
    },
    {
      href: "#",
      text: "АО НК «Kazakh TOURISM»",
    },
    {
      href: "#",
      text: "АО «Kazakh EXPORT»",
    },
  ]
