.card-region {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;


  height: 100%;
  list-style: none;
  border-radius: 10px;
  transition: background-color $trans--300, color $trans--300;

  padding-top: 83px;
  padding-left: 40px;
  padding-right: 43px;
  padding-bottom: 56px;


  &--french-pass {
    background-color: $color-french-pass;
  }

  &--bali-hai {
    background-color: $color-bali-hai;
  }

  &--pattens-blue {
    background-color: $color-pattens-blue;
  }

  &:hover {
    background-color: $color-steel-blue;

    .card-region__title,
    .card-region__text {
      color: $color-default-white;
    }

    .card-region__button {
      svg {
        stroke: #4777a7;
        transform: translateX(5px);
      }
    }
  }

  @include vp--1279 {
    padding-bottom: 87px;
  }

  @include vp--767 {
    padding: 49px 10px 58px 25px;
  }
}

.card-region__title {
  width: 80%;
  margin: 0;
  font-size: 22px;
  line-height: 30px;
  color: $color-midnight-express-3;

  @include vp--767 {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 27px;
  }
}

.card-region__text {
  margin: 0;
  padding: 0;
  margin-top: 22px;
  font-size: 14px;
  line-height: 155%;
  color: $color-charcoal;

  @include vp--1023 {
    margin-top: 9px;
  }

  @include vp--767 {
    font-size: 14px;
  }
}

.card-region__img {
  padding-top: 55px;
  margin-top: auto;
  display: flex;
  justify-content: flex-end;

  img {
    width: 216px;
    height: 178px;
    object-fit: contain;
    object-position: right bottom;
  }

  @include vp--1279 {
    padding-top: 40px;
  }

  @include vp--1023 {
    justify-content: center;
    margin: 0 auto;
  }

  @include vp--767 {
    padding-top: 15px;

    img {
      width: 208px;
      height: 146px;
    }
  }
}

.card-region__button {
  position: absolute;
  left: 37px;
  bottom: 45px;

  @include vp--767 {
    left: 23px;
    bottom: 18px;
  }
}
