mixin logo(currentPage, location)
  if (currentPage === "main")
      if (location === "header")
        a(class="logo")
          +icon("logo-header", 134, 57)
      else if (location === "footer")
        a(class="footer__logo logo")
          +icon("logo-footer", 134, 57)
  else
      if (location === "header")
        a(class="logo" aria-label="Перейти на главную" href="./main.html")
          +icon("logo-header", 134, 57)
      else if (location === "footer")
        a(class="footer__logo logo" aria-label="Перейти на главную" href="./main.html")
          +icon("logo-footer", 134, 57)
